name: Run tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    strategy:
      matrix:
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    env:
      CTRF_REPORT_PATH: './build/reports/specmatic/graphQL/stub/ctrf/*.json'
    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Save Specmatic license
        if: github.ref == 'refs/heads/main'
        run: |
          mkdir -p ~/.specmatic
          echo "${{ secrets.SPECMATIC_LICENSE_KEY }}" > ~/.specmatic/specmatic-license.txt

      - name: Build BFF project with Gradle
        run: ./gradlew build

      - name: Upload CTRF Report
        uses: actions/upload-artifact@v6
        if: always() # Run even if tests fail
        with:
          name: ctrf-report
          path: ${{ env.CTRF_REPORT_PATH }}
          retention-days: 5
    
      # Display CTRF test results
      - name: Publish Test Results
        uses: ctrf-io/github-test-reporter@v1
        if: always() # Run even if tests fail
        with:
          report-path: ${{ env.CTRF_REPORT_PATH }}

      - name: Publish Build Reports to Specmatic Insights
        if: github.ref == 'refs/heads/main'
        run: |
          docker run \
            -v ${{ github.workspace }}:/workspace \
            -v ~/.specmatic:/root/.specmatic \
            -w /workspace \
            specmatic/enterprise \
            send-report \
            --metadata build_url=${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }} \
            --branch-name ${{ github.ref_name }} \
            --repo-name ${{ github.event.repository.name }} \
            --repo-id ${{ github.repository_id }} \
            --repo-url ${{ github.event.repository.html_url }}
